body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #a7a7a7, #a7a7a7, #313131); 
    height: 100vh;
    overflow: hidden; 
}

.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8); 
    backdrop-filter: blur(10px); 
}

.form-section {
    flex: 1;
    padding: 40px;
    text-align: center;
    background-color: transparent; 
}

.form-section h1 {
    margin-bottom: 30px;
    color: #333; 
    font-size: 2rem; 
    font-weight: 600; 
}

.form-section label {
    display: block;
    margin-bottom: 5px;
    color: #555; 
    font-size: 1rem; 
}

.form-section input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    font-size: 1rem; 
    transition: border-color 0.3s ease; 
    background-color: white; 
}

.form-section input:focus {
    border-color: #007bff; 
    outline: none; 
}

.form-section button {
    width: 100%;
    padding: 12px;
    background-color: #007bff; 
    color: white; 
    border: none;
    border-radius: 5px; 
    font-size: 1rem; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.form-section button:hover {
    background-color: #0056b3; 
}

.auth-button {
    margin-top: 20px;
    text-align: center;
}

.auth-button a {
    color: #007bff; 
    text-decoration: none;
    font-size: 1rem; 
    font-weight: 500; 
    transition: color 0.3s ease; 
}

.auth-button a:hover {
    color: #0056b3; 
}

.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.validateErrorText {
    color: #FC2847;
    font-size: 12px;
    margin-top: -1rem;
    cursor: pointer;
    font-style: oblique;
}
