.site-header {
    position: fixed;
    top: -80px;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    background: url('/public/images/cartographer.png');
    background-color: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(5px); 
    transition: top 0.5s ease;
    z-index: 1000;
}

.site-header.visible {
    top: 0;
}

.site-header h3 {
    margin: 0;
    font-size: 1.5rem;
    color:  #ffffff; /* Белый текст */
}